
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
--Bright-Blue: hsl(224, 93%, 58%) ;
--Moderate-Cyan: hsl(170, 45%, 43%);
--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%) ;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--very-dark-blue);
}
main {
    display: flex;
    justify-content: space-between;
    height: 500px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
        width: 100%;
    height: 180px;
    padding: 0 5rem;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Desaturated-Blue);
}
.header_list {
    width: 270px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    
}
.left h1 {
    margin-bottom: 1rem;
    color: var(--Very-Dark-Blue);
      font-size: 2.5rem;
    font-weight: 600;
}
.left p {
       font-size: 1.1rem;
}
.right {
        width: 50%;
    margin-top: .9rem;
    background-image: url(images/illustration-1.svg);
    background-repeat: no-repeat;
    background-size: 89%;
    background-position: center left;
}
.main-btn {
    width: 200px;
    height: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: var(--Light-Grayish-Blue);
    background-color: var(--Bright-Blue);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    margin-left: 1rem;
}
.main-input {
        width: 300px;
    height: 45px;
    /* margin-right: 1rem; */
    padding: .3rem 1rem .2rem 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    border: 1px solid var(--Very-Dark-Blue);
    border-radius: 4px;
    margin-top: 2rem;
}
.email {
    display: flex;
}
.bg {
    width: 100%;
    height: 115px;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
 
}
.stay {
       display: flex;
    justify-content: space-between;
    background-color: #f8f8fe;
    width: 100%;
    padding-bottom: 5rem;
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.container p {
      margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.container h2 {
    display: flex;
        margin-bottom: 1.8rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.8rem;
}
 .see {
    width: fit-content;
    color: var(--Moderate-Cyan);
     border-bottom: 1px solid var(--Moderate-Cyan);

}
.card {
        width: 400px;
    height: 217px;
    padding: 1.6rem 2rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
    margin-top: 2rem;
}
.avatar {
    display: flex;
    flex-wrap: wrap;
}
.avatar img {
       width: 32px;
    height: 32px;
    margin-right: .5rem;
    border-radius: 50%;
}
.avatar p  {
        /* padding-top: .2rem; */
    font-size: 1rem;
}
.avatar .un {
        font-size: .55rem;
    font-weight: 300;
}
.user {
    display: flex;
    /* flex-direction: column; */
}
.image img {
    width: 600px;
    margin-right: 3rem;
}
.content {
    background-color: var(--Desaturated-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}
.one {
    display: flex;
    flex-direction: column;
    color: var(--Light-Grayish-Blue);
    margin-top: 4rem;
    margin-left: 3rem;
}
.one h2 {
    margin-bottom: 2rem;
}
.two {
    display: flex;
    flex-direction: column;
    color: var(--Light-Grayish-Blue);
    margin-right: 5rem;
     margin-top: 4rem;
}
.two input {
       border: none;
    border-radius: 4px;
    box-shadow: 0 5px .4rem rgba(0, 0, 0, 0.15);
        width: 350px;
    height: 38px;
}
footer {
    background-color: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
    padding-bottom: 5rem;
    padding-top: 2rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    
}
.footer-list {
    display: grid ;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;
    column-gap: 7rem;

}
.img-footer , .flex {
margin-top: 3rem;
margin-left: 3rem;
}
.icons {
    display: flex;
    gap: 2rem;
    margin-right: 20rem;
}
.pe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}